<div #emblaViewport xNoSwipe class="shelf-viewport" [class.selected]="_selectedItem()">
  <ol class="item-list" tabindex="-1">
    @for (item of _items(); track item; let i = $index) {
      <li class="item">
        <x-item [item]="item" [selected]="_selectedItem() === item" (action)="select(item, i)" />
      </li>
    }
    <li class="more-item"><button>Show more</button></li>
    <!-- TODO -->
  </ol>
</div>

<div class="details-list">
  @for (item of _items(); track id(item)) {
    @if (item === _selectedItem()) {
      <x-shelf-item-details class="details" animate.enter="in" animate.leave="out" [item]="item" />
    }
  }
</div>
