<ol #itemList class="item-list" tabindex="-1" (touchstart)="_onTouchStart($event)" (touchend)="_onTouchEnd($event)">
  @for (item of _items(); track item) {
    <li #itemEl class="item">
      <x-item [item]="item" [selected]="_selectedItem() === item" (action)="select(item, itemEl)" />
    </li>
  }
  <li class="more-item"><button>Show more</button></li>
  <!-- TODO -->
</ol>

<div class="details-list">
  @for (item of _items(); track id(item)) {
    @if (item === _selectedItem()) {
      <x-shelf-item-details class="details" animate.enter="in" animate.leave="out" [item]="item" />
    }
  }
</div>
