@use 'mixins';

.shelf-viewport {
  overflow: hidden;

  margin-block: -50px;
}

.item-list {
  display: flex;
  gap: var(--spacer-2);
  padding: 50px 0;
  height: 300px;

  list-style: none;
}

.item {
  flex: 0 0 auto;
  min-width: 0;
  padding: 0;
}

.details-list {
  display: grid;
}

.details {
  grid-area: 1 / 1;
  align-self: start;

  &.in {
    transition: all var(--transition-duration) ease-out;

    @starting-style {
      opacity: 0;
      transform: translateX(-20px);
    }
  }

  &.out {
    transform: translateX(20px);
    opacity: 0;

    transition: all var(--transition-duration) ease-in;

    @starting-style {
      opacity: 1;
    }
  }
}
