<!-- WRAPPER -->
<div class="card-wrapper mx-2">
  <!-- CARD -->
  <div class="card">
    <!-- PORTRAIT -->
    <img
      ngSrc="/imgs/about/portrait.webp"
      alt="Portrait of Laurenz Fiala smiling, brown eyes, brown chin-length hair, big glasses and a gray shirt."
      class="aspect-square rounded-full shrink-0 h-[60%] w-auto hidden min-[320px]:block"
      height="600"
      width="600"
      priority
    />

    <div class="name-container flex flex-col gap-1 min-w-0">
      <!-- NAME -->
      <h1 class="text-base min-[320px]:text-xl sm:text-2xl">Laurenz Fiala</h1>

      <div class="flex flex-col gap-3">
        <!-- TAGS -->
        <div class="tags px-2 py-0.5 rounded text-contrast font-medium text-xs min-[320px]:text-sm">
          Web Dev • UX • Design
        </div>

        <!-- LINKS -->
        <div class="links flex row justify-center gap-6">
          <a
            class="link flex flex-row items-center gap-2"
            href="#"
            title="E-mail"
            (click)="sendMail($event)"
          >
            <div class="icon icon--email"></div>
          </a>

          <a
            href="https://t.me/laurenzfiala"
            class="link flex flex-row items-center gap-2"
            title="Telegram"
          >
            <div class="icon icon--telegram"></div>
          </a>

          <a
            href="https://www.linkedin.com/in/laurenz-fiala-081598388"
            class="link flex flex-row items-center gap-2"
            title="LinkedIn"
          >
            <div class="icon icon--linkedin"></div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- BACK TO SITE -->
<div class="flex flex-col items-center">
  <a class="flex items-center gap-2 link" routerLink="/">
    Read more about me
    <img src="/imgs/icons/arrow-right-sm.svg" alt="" class="h-[1em] dark:invert" />
  </a>
</div>
