@use 'mixins';

:host {
  display: block;
}

section {
  margin-bottom: var(--spacer-8);

  &:last-child {
    margin-bottom: 0;
  }

  .entries {
    display: flex;
    flex-direction: column;
    gap: var(--spacer-2);
  }

  h2 {
    margin-block-start: var(--spacer-2);
    font-size: var(--font-size-lg);
    font-weight: bold;
  }

  .anniversary {
    margin-block: var(--spacer-2) var(--spacer-3);

    text-align: center;
    font-size: var(--font-size-sm);
    color: var(--color-text-muted);
  }

  .language-meta {
    margin-bottom: var(--spacer-16);
  }
}
