@use 'mixins';

:host {
  display: contents;

  &.selected {
    .container {
      opacity: 1;
    }

    .cover {
      position: relative;
      z-index: 2;

      &::before {
        content: '';

        position: absolute;
        inset: 0;
        z-index: -1;

        pointer-events: none;
        transform: translate(35px, 35px);
        background: linear-gradient(135deg, transparent, var(--color-accent-500));
        mask-image: var(--highlight-mask);
        mask-size: contain;
        mask-repeat: no-repeat;
        mask-position: bottom right;

        transition: all var(--transition-duration-long);

        @starting-style {
          transform: translate(0, 0);
          opacity: 0;
        }
      }
    }

    .title {
      opacity: 0;
    }
  }
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: max-content;
  height: 100%;
  padding: 0;

  opacity: 0.5;
  text-align: start;

  transition: opacity var(--transition-duration);

  @include mixins.focus;

  &:active,
  &:focus,
  &:hover {
    opacity: 1;
  }
}

.cover {
  position: relative;
  height: calc(100% - 1lh);

  transition: all var(--transition-duration-long);

  img {
    height: 100%;
  }
}

.title {
  position: absolute;
  inset: auto 0 0 0;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  transition: opacity 300ms;
}
