<div [class.sticky-heading-overlay]="content?.showSticky ?? showSticky">
  @if ((content?.level ?? level) === 1) {
    <div class="text-center">
      <h1 class="mb-0 mt-0">
        <ng-container [ngTemplateOutlet]="contentTemplate"></ng-container>
      </h1>
      <hr class="divider" />
    </div>
  }
  @if ((content?.level ?? level) === 2) {
    <h2>
      <ng-container [ngTemplateOutlet]="contentTemplate"></ng-container>
    </h2>
  }
  @if ((content?.level ?? level) === 3) {
    <h3>
      <ng-container [ngTemplateOutlet]="contentTemplate"></ng-container>
    </h3>
  }
</div>

@if (content?.showSticky ?? showSticky) {
  @if ((content?.level ?? level) === 1) {
    <h1 class="sticky-heading" aria-hidden="true">
      <ng-container [ngTemplateOutlet]="contentTemplate"></ng-container>
    </h1>
  }
  @if ((content?.level ?? level) === 2) {
    <h2 class="sticky-heading" aria-hidden="true">
      <ng-container [ngTemplateOutlet]="contentTemplate"></ng-container>
    </h2>
  }
  @if ((content?.level ?? level) === 3) {
    <h2 class="sticky-heading" aria-hidden="true">
      <ng-container [ngTemplateOutlet]="contentTemplate"></ng-container>
    </h2>
  }
  <div class="post-sticky-filler"></div>
}

<ng-template #contentTemplate>
  {{ content?.text ?? text ?? '' }}
</ng-template>
