:host {
  display: contents;

  --sticky-heading-max-height: 5rem;
}

.heading-extra-margin {
  @apply mb-6;
}

.static-heading {
  min-height: var(--sticky-heading-max-height);

  @apply flex items-end justify-center;
}
