<ng-template #template>
  <!-- eslint-disable-next-line @angular-eslint/template/interactive-supports-focus,@angular-eslint/template/click-events-have-key-events -->
  <div
    cdkTrapFocus
    cdkTrapFocusAutoCapture
    class="overlay"
    [class.show]="_show()"
    (click)="hide($event)"
  >
    @if (_selectedMedia | async; as selectedMedia) {
      <div class="slide-container" [class.opacity-0]="_isLoading">
        @if (selectedMedia.type === 'image') {
          <!-- eslint-disable-next-line @angular-eslint/template/interactive-supports-focus,@angular-eslint/template/click-events-have-key-events -->
          <img
            #imageEl
            class="slide image"
            [src]="selectedMedia.src"
            [alt]="selectedMedia.alt"
            (click)="next(); _preventClose = $event"
            (load)="_isLoading = false; updateMediaConstraint()"
          />
        }
        @if (selectedMedia.type === 'video') {
          <video
            #videoEl
            class="slide video"
            loop
            autoplay
            [defaultMuted]="true"
            (loadedmetadata)="_isLoading = false; updateMediaConstraint()"
            (click)="next(); _preventClose = $event"
          >
            <source [src]="selectedMedia.src" />
            Your browser can't display this video.
          </video>
        }
      </div>
    }

    <!-- NAVIGATION BAR -->
    <!-- TODO move to separate component -->
    <!-- eslint-disable-next-line @angular-eslint/template/interactive-supports-focus,@angular-eslint/template/click-events-have-key-events -->
    <div class="nav" (click)="_preventClose = $event">
      <!-- PREVIOUS BUTTON -->
      <button class="nav-button prev" title="Previous" (click)="previous()">
        <img alt="Arrow pointing left" src="/imgs/icons/chevron-left.svg" class="icon" />
      </button>

      <!-- LOCATION INDICATOR -->
      @for (media of _allMedia(); track index; let index = $index) {
        <div class="nav-indicator" [class.active]="index === _selectedMediaIndex"></div>
      }

      <!-- NEXT BUTTON -->
      <button class="nav-button next" title="Next" (click)="next()">
        <img alt="Arrow pointing right" src="/imgs/icons/chevron-right.svg" class="icon" />
      </button>
    </div>

    <!-- CLOSE BUTTON -->
    <button class="close" title="Close" (click)="hide($event)">
      <img class="icon" alt="Close gallery" src="/imgs/icons/close.svg" />
    </button>
  </div>
</ng-template>
