:host {
  text-align: start;
}

.top-wrapper {
  background: radial-gradient(
    farthest-corner at bottom center,
    rgba(var(--color) / 50%),
    transparent
  );
  border-block-end: solid rgb(var(--color)) 3px;
}
