:host {
  text-align: start;
}

.top-wrapper {
  background: radial-gradient(farthest-side at top center, rgba(var(--color) / 50%), transparent);
}

.divider {
  background-color: rgb(var(--color));
}
