:host {
  display: block;
}

a {
  --bg: theme('colors.neutral.100');

  background-color: var(--bg);

  @apply flex flex-row items-center text-start shadow hover:shadow-lg rounded-lg p-4 transition-all relative;

  &.--disabled {
    @apply pointer-events-none shadow-transparent;
  }
}

a:hover,
a:focus-visible,
a > .overlay-end {
  --bg: theme('colors.neutral.200');
}

@media only screen and (prefers-color-scheme: dark) {
  a {
    --bg: theme('colors.neutral.900');
  }

  a:hover,
  a:focus-visible,
  a > .overlay-end {
    --bg: theme('colors.neutral.800');
  }
}

.ellipsis {
  @apply overflow-hidden text-ellipsis;
}
