@mixin background {
  $mask-size: 50px;

  body {
    position: relative;
  }

  .global-background {
    position: absolute;
    inset: 0;

    mask-image: url('/imgs/bg/pattern-mask2.svg');
    mask-repeat: repeat;
    mask-size: $mask-size;

    background-image: radial-gradient(
      100% 150px at top center,
      var(--color-primary-100),
      transparent
    );

    @media only screen and (prefers-color-scheme: dark) {
      background-image: radial-gradient(
        100% 150px at top center,
        var(--color-primary-900),
        transparent
      );
    }
  }

  .global-background-footer {
    position: absolute;
    inset: 0;

    background: radial-gradient(
      ellipse farthest-side at bottom,
      var(--color-accent-300),
      transparent
    );
    background-size: min(150%, 1300px) 10rem;
    background-position: bottom center;
    background-repeat: no-repeat;
    mask-image: url('/imgs/bg/pattern-mask2.svg');
    mask-repeat: repeat;
    mask-size: $mask-size;
  }
}
