@mixin background {
  body {
    position: relative;
  }

  .global-background {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;

    mask-image: url('/imgs/bg/pattern-mask.webp');
    mask-repeat: repeat;
    mask-size: 30px;

    background-image: radial-gradient(
      100% 150px at top center,
      var(--color-primary-200),
      transparent
    );

    @media only screen and (prefers-color-scheme: dark) {
      background-image: radial-gradient(
        100% 200px at top center,
        var(--color-primary-800),
        transparent
      );
    }
  }

  .global-background-footer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: radial-gradient(
      ellipse farthest-side at bottom,
      var(--color-accent-500),
      transparent
    );
    background-size: min(150%, 1000px) 10rem;
    background-position: bottom center;
    background-repeat: no-repeat;
    mask-image: url('/imgs/bg/pattern-mask.webp');
    mask-repeat: repeat;
    mask-size: 30px;
  }
}
