.divider {
  display: inline-block;
  width: 5rem;
  height: theme('borderWidth.DEFAULT');

  @apply bg-neutral-300 dark:bg-neutral-700 rounded my-7;
}

.divider-h {
  display: inline-block;
  height: theme('custom.divider.length');
  width: theme('borderWidth.DEFAULT');

  @apply bg-neutral-300 dark:bg-neutral-600 rounded my-7;
}
