.divider {
  display: block;
  width: theme('custom.divider.horizontalLength');
  height: theme('borderWidth.DEFAULT');

  @apply bg-neutral-200 dark:bg-neutral-700 rounded mt-4 mb-8;
}

.divider-h {
  display: inline-block;
  height: theme('custom.divider.verticalLength');
  width: theme('borderWidth.DEFAULT');

  @apply bg-neutral-200 dark:bg-neutral-600 rounded mt-4 mb-8;
}
