.divider {
  width: theme('custom.divider.horizontalLength');
  height: theme('borderWidth.DEFAULT');
}

.divider-h {
  height: theme('custom.divider.verticalLength');
  width: theme('borderWidth.DEFAULT');
}

.divider,
.divider-h {
  display: inline-block;
  background-color: rgb(var(--scoped-theme-color, 229 229 229));

  @apply rounded my-7 border-none;
}

@media (prefers-color-scheme: dark) {
  .divider,
  .divider-h {
    background-color: rgb(var(--scoped-theme-color, 229 229 229));
  }
}
