@mixin fonts {
  $brandFont: 'Unbounded';
  $textFont: 'Onest';

  :root {
    --font-family-brand: #{$brandFont}, sans-serif;
    --font-family-text: #{$textFont}, sans-serif;
  }

  @font-face {
    font-family: $brandFont;
    font-weight: normal;
    src: url('/fonts/#{$brandFont}-Regular.ttf');
    font-display: swap;
  }

  @font-face {
    font-family: $brandFont;
    font-weight: 500;
    src: url('/fonts/#{$brandFont}-Medium.ttf');
    font-display: swap;
  }

  @font-face {
    font-family: $brandFont;
    font-weight: 600;
    src: url('/fonts/#{$brandFont}-SemiBold.ttf');
    font-display: swap;
  }

  @font-face {
    font-family: $brandFont;
    font-weight: bold;
    src: url('/fonts/#{$brandFont}-Bold.ttf');
    font-display: swap;
  }

  @font-face {
    font-family: $textFont;
    src: url('/fonts/#{$textFont}-VariableFont.ttf');
    font-display: swap;
  }
}
