@font-face {
  font-family: 'Recursive';
  src: url('../assets/fonts/Recursive-VariableFont.ttf');
}

@font-face {
  font-family: 'Open Sans';
  src: url('../assets/fonts/OpenSans-VariableFont.ttf');
}
