@import url('variables.css');
@import url('fonts.css');
@import url('heading.css');
@import url('divider.css');
@import url('layout.css');
@import url('link.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-text: theme('colors.black');
  --color-text-muted: theme('colors.neutral.500');
}

@media only screen and (prefers-color-scheme: dark) {
  :root {
    --color-text: theme('colors.white');
  }
}

html {
  min-height: 100%;
  font-size: 110%;
  line-height: 1.65;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: linear-gradient(to bottom, transparent, rgb(227, 227, 227)) no-repeat bottom;
  background-size: auto 10rem;

  @apply bg-neutral-50;
}

@media (prefers-color-scheme: dark) {
  body {
    background: linear-gradient(to bottom, transparent, rgb(20, 20, 20)) no-repeat bottom;
    background-size: auto 10rem;

    @apply bg-neutral-900 text-white;
  }
}
