:root {
  --paragraph-width: 38rem;
  --paragraph-padding-inline: 2rem;
  --paragraph-align-x: max(
    calc(50% - var(--paragraph-width) / 2 + var(--paragraph-padding-inline)),
    var(--paragraph-padding-inline)
  );
}

section,
footer {
  position: relative;
  max-width: var(--paragraph-width);
  padding-inline: var(--paragraph-padding-inline);
  margin-inline: auto;

  @apply mb-[4rem];
}

footer {
  @apply mb-[3rem] mt-[3rem];
}

section p {
  text-align: justify;
}

.mb-p {
  @apply mb-3;
}
