/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/

  Adapted and merged with other global styles.
*/

@mixin reset {
  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  input[type='button'],
  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }
}
