:root {
  --bg: 250 250 250;
  --color-text: theme('colors.black');
  --color-text-contrast: theme('colors.white');
  --color-text-muted: theme('colors.neutral.500');
}

@media only screen and (prefers-color-scheme: dark) {
  :root {
    --bg: 4 4 4;
    --color-text: theme('colors.neutral.300');
    --color-text-contrast: theme('colors.black');
  }
}
