:host {
  --paragraph-align-x: 2rem;

  display: block;

  @apply lg:-mx-6;
}

@media screen(lg) {
  :host {
    --paragraph-align-x: 3rem;
    --paragraph-padding-inline: 3rem;
  }
}

.bg-fade-top {
  --bg-src: theme('colors.bg.DEFAULT');

  height: 20svh;
  margin-block-end: calc(-20svh + 5rem);

  background:
    linear-gradient(
      to bottom,
      theme('colors.bg.DEFAULT / 30%') 0%,
      theme('colors.bg.DEFAULT') 100%
    ),
    center / cover no-repeat var(--bg-src);
  mask-image: url('/assets/imgs/bg/pattern-mask.webp');
  mask-repeat: repeat;
  mask-size: 30px;

  @apply p-4;
}

@media screen(md) {
  .bg-fade-top {
    background:
      radial-gradient(80% 100% at 50% -30%, transparent 0%, theme('colors.bg.DEFAULT') 70%),
      center / cover no-repeat var(--bg-src);
  }
}

.back-label {
  text-shadow: 0.5px 1px 0px theme('colors.bg.DEFAULT / 50%');
}

app-content ::ng-deep section:first-child {
  @apply mb-6;
}
