<div
  class="bg-fade-top"
  [ngStyle]="{'--bg-src': _environment ? ('url(\'' + _environment.topBg.src + '\')') : ''}"
>
  <div class="flex flex-row">
    <a
      #back="back"
      class="cursor-pointer flex flex-row items-center px-4 py-2 opacity-70 hover:opacity-100 btn-link-bg--secondary btn-link-bg--inline"
      appBack=".."
    >
      <img src="/assets/imgs/icons/chevron-left-sm.svg" class="h-[0.6em] me-3 dark:invert" />
      <div class="back-label font-medium text-lg">{{ back.targetPageTitle }}</div>
    </a>
  </div>
</div>

@if (_content) {
<app-content [content]="_content"></app-content>
} @else if (_error) {
<div class="m-4">{{_error.message}}</div>
}

<router-outlet></router-outlet>
