<section>
  <app-heading text="Hi 👋"></app-heading>

  <p class="mb-p">
    I'm Laurenz, a software engineer and usability-aficionado. This space is intended as a place
    where I can show my current and past creations and document the process too.
  </p>
  <p class="mb-p">
    The site is still under development, but you can already check out some of my past creations on
    the <a routerLink="/development" class="link">development</a> page.
  </p>
</section>

<section>
  <img
    src="../../../assets/imgs/about/portrait.jpg"
    class="inline-block w-[20rem] max-w-[80svw] aspect-square rounded-full"
  />
</section>

<section>
  <app-heading text="Contact"></app-heading>

  <p class="mb-p">
    Feel free to send me a message via e-mail or telegram! I am glad to hear any web-related or
    technical news. Corrections and discussions are also welcome. 😄 If you're looking to hire, I am
    also happy to consider your request. I am, however, not looking for advertisers or other
    commercial communications.
  </p>

  <div class="text-muted text-sm text-start">
    <strong>Data privacy:</strong>
    <div class="flex flex-row">
      <p [class.line-clamp-1]="!_showMsgDataProtectionInfo">
        I will delete all data as soon as the correspondence is concluded, (maximum of 30 days after
        the last message) or you request it. Note that I might keep anonymized copies of the
        communications for longer. My e-mail provider deletes any metadata logs after 14 days.
      </p>
      @if (!_showMsgDataProtectionInfo) {
      <button class="link flex-shrink-0" (click)="_showMsgDataProtectionInfo = true">
        Read more
      </button>
      }
    </div>
  </div>

  <!-- LINKS -->
  <div class="flex flex-row justify-center flex-wrap gap-4 my-12">
    <button role="link" class="btn-link--with-logo" (click)="sendMail()">
      <div class="logo">
        <img src="/assets/imgs/about/email_logo.svg" />
      </div>
      E-mail
    </button>

    <a href="https://t.me/laurenzfiala" class="btn-link--with-logo">
      <div class="logo">
        <img src="/assets/imgs/about/telegram_logo.svg" />
      </div>
      Telegram
    </a>
  </div>

  @if (!_showQrCodes) {
  <button class="text-sm" (click)="_showQrCodes = true">
    Scan the QR codes instead
    <img
      class="inline-block h-[0.35em] dark:invert ms-1 -mt-[0.2em]"
      src="/assets/imgs/icons/chevron-down-sm.svg"
    />
  </button>
  }

  <!-- QR Codes -->
  @if (_showQrCodes) {
  <div
    class="flex flex-row flex-wrap justify-center items-center gap-6 mt-12"
    [class.qr-active]="_activeQr"
  >
    <div>
      <!-- EMAIL -->
      <app-qr-code
        [active]="_activeQr === 'email'"
        [subtle]="!!_activeQr"
        overlayUrl="../../../assets/imgs/about/email_logo.svg"
        qrUrl="../../../assets/imgs/about/qr_email.svg"
        (action)="_activeQr = 'email'"
      ></app-qr-code>
    </div>
    <!-- TELEGRAM -->
    <app-qr-code
      [active]="_activeQr === 'telegram'"
      [subtle]="!!_activeQr"
      overlayUrl="../../../assets/imgs/about/telegram_logo.svg"
      qrUrl="../../../assets/imgs/about/qr_telegram.svg"
      (action)="_activeQr = 'telegram'"
    ></app-qr-code>
  </div>
  }
</section>
