<!-- INTRO -->
<section>
  <app-heading text="Hi 👋" />

  <p class="mb-p">
    I'm Laurenz Fiala, a software and usability engineer. This space is intended as a place to show
    my projects, education and work experience. In the future I want to share some of my insights
    and hobbies here too.
  </p>
</section>

<!-- PICTURE -->
<section class="text-center">
  <div class="inline-block picture-wrapper">
    <img
      src="../../../assets/imgs/about/portrait.jpg"
      class="inline-block w-[17rem] max-w-[80svw] aspect-square rounded-full"
    />
  </div>
</section>

<!-- CONTACT -->
<section>
  <app-heading text="Contact" />

  <p class="mb-p">
    Feel free to send me a message via e-mail or telegram! I am glad to talk about anything UX or
    tech related. 😄 If you're looking to hire, I am also happy to hear from you.
  </p>

  <div class="text-muted text-sm text-start">
    <strong>Data privacy:</strong>
    <div class="flex flex-row">
      <p [class.line-clamp-1]="!_showMsgDataProtectionInfo">
        I will delete all messages after 30 days. Note that I might keep anonymized copies of the
        messages for longer. My e-mail provider deletes any metadata logs after 14 days.
      </p>
      @if (!_showMsgDataProtectionInfo) {
        <button class="link flex-shrink-0" (click)="_showMsgDataProtectionInfo = true">
          Read more
        </button>
      }
    </div>
  </div>

  <!-- LINKS -->
  <div class="flex flex-row flex-wrap gap-4 my-12">
    <button role="link" class="btn-link--with-logo" (click)="sendMail()">
      <div class="logo">
        <img src="/assets/imgs/about/email_logo.svg" />
      </div>
      E-mail
    </button>

    <a href="https://t.me/laurenzfiala" class="btn-link--with-logo">
      <div class="logo">
        <img src="/assets/imgs/about/telegram_logo.svg" />
      </div>
      Telegram
    </a>
  </div>

  @if (!_showQrCodes) {
    <button class="link-container text-sm" (click)="_showQrCodes = true">
      <span class="link">Scan the QR codes instead</span>
      <img
        class="inline-block h-[0.35em] dark:invert ms-1 -mt-[0.2em]"
        src="/assets/imgs/icons/chevron-down-sm.svg"
      />
    </button>
  }

  <!-- QR Codes -->
  @if (_showQrCodes) {
    <div class="flex flex-row flex-wrap items-center gap-6 mt-12" [class.qr-active]="_activeQr">
      <div>
        <!-- EMAIL -->
        <app-qr-code
          [active]="_activeQr === 'email'"
          [subtle]="!!_activeQr"
          overlayUrl="../../../assets/imgs/about/email_logo.svg"
          qrUrl="../../../assets/imgs/about/qr_email.svg"
          (action)="_activeQr = 'email'"
        ></app-qr-code>
      </div>
      <!-- TELEGRAM -->
      <app-qr-code
        [active]="_activeQr === 'telegram'"
        [subtle]="!!_activeQr"
        overlayUrl="../../../assets/imgs/about/telegram_logo.svg"
        qrUrl="../../../assets/imgs/about/qr_telegram.svg"
        (action)="_activeQr = 'telegram'"
      ></app-qr-code>
    </div>
  }
</section>
