.picture-wrapper {
  position: relative;

  @apply pb-16;

  &::before {
    content: '';

    position: absolute;
    top: 30%;
    left: 50%;
    height: 70%;
    width: 120%;
    z-index: -1;

    transform: translateX(-50%);
    background: radial-gradient(
      ellipse farthest-side at center,
      theme('colors.primary.500'),
      theme('colors.primary.500 / 0%')
    );
    background-repeat: no-repeat;
    mask-image: url('/imgs/bg/pattern-mask.webp');
    mask-repeat: repeat;
    mask-size: 30px;
  }

  img {
    mask-image: radial-gradient(
        ellipse 180% 180% at -20% 40%,
        white,
        rgb(255 255 255 / 95%),
        transparent
      ),
      url('/imgs/bg/pattern-mask-inverse.webp');
    mask-repeat: no-repeat, repeat;
    mask-size: auto, 30px;
    mask-position: 50% 52.5%;
  }
}

.logo {
  mask-image: url('/imgs/about/email_logo.svg');
  mask-size: contain;
  mask-repeat: no-repeat;
  background: var(--color-text);

  @apply h-[1.35rem] aspect-square;

  &.logo--email {
    mask-image: url('/imgs/about/email_logo.svg');
  }

  &.logo--telegram {
    mask-image: url('/imgs/about/telegram_logo.svg');
  }

  &.logo--qr {
    mask-image: url('/imgs/icons/qr.svg');
  }
}
