.search {
  --bg: theme('colors.neutral.100');

  background:
    url('/assets/imgs/icons/search.svg') no-repeat 0.75rem center,
    var(--bg);
  background-size: 1.5rem, auto;

  @apply rounded p-2 ps-12 outline-none w-full mb-2 transition-all;

  &:focus {
    --bg: theme('colors.neutral.200');
  }
}

@media (prefers-color-scheme: dark) {
  .search {
    --bg: theme('colors.neutral.900');

    &:focus {
      --bg: theme('colors.neutral.800');
    }
  }
}
