<section>
  <input type="text" class="search" />

  <div class="flex flex-row flex-wrap gap-2 text-xs">
    <button class="rounded-full py-2 px-3 bg-neutral-200 shadow hover:shadow-lg transition-shadow">
      Angular
    </button>
    <button class="rounded-full py-2 px-3 bg-neutral-200 shadow hover:shadow-lg transition-shadow">
      CSS
    </button>
    <button class="rounded-full py-2 px-3 bg-neutral-200 shadow hover:shadow-lg transition-shadow">
      Typescript
    </button>
    <button class="rounded-full py-2 px-3 bg-neutral-200 shadow hover:shadow-lg transition-shadow">
      UX
    </button>
    <button class="rounded-full py-2 px-3 bg-neutral-200 shadow hover:shadow-lg transition-shadow">
      Design
    </button>
    <button class="rounded-full py-2 px-3 bg-neutral-200 shadow hover:shadow-lg transition-shadow">
      Update
    </button>
    <button class="rounded-full py-2 px-3 bg-neutral-200 shadow hover:shadow-lg transition-shadow">
      News
    </button>
  </div>
</section>

<section>
  <h1>Web Development</h1>
  <small>25/6/24</small>

  <p class="mt-4">
    Ducimus nesciunt quo qui voluptas officiis error et. In alias aliquid iure voluptatem dolores
    sunt dolore rem. Eos deserunt vero exercitationem sit incidunt. Alias ex rerum est aut tenetur.
  </p>
  <p>
    Dicta autem nemo iste. Praesentium et expedita velit. Est maiores quisquam nihil fuga quod
    molestiae ex. Est ratione tempora sint officia harum error illo. Deserunt tenetur quisquam ipsa
    in iste vero.
  </p>
  <a routerLink="web-dev" class="link">Read more</a>
</section>

<hr class="divider" />

<section>
  <h1>CSS Image Masks</h1>
  <small>21/5/24</small>

  <p class="mt-4">
    Ducimus nesciunt quo qui voluptas officiis error et. In alias aliquid iure voluptatem dolores
    sunt dolore rem. Eos deserunt vero exercitationem sit incidunt. Alias ex rerum est aut tenetur.
  </p>
  <p>
    Dicta autem nemo iste. Praesentium et expedita velit. Est maiores quisquam nihil fuga quod
    molestiae ex. Est ratione tempora sint officia harum error illo. Deserunt tenetur quisquam ipsa
    in iste vero.
  </p>
  <a routerLink="web-development" class="link">Read more</a>
</section>

<hr class="divider" />

<section>
  <h1>CSS Image Masks</h1>
  <small>21/5/24</small>

  <p class="mt-4">
    Ducimus nesciunt quo qui voluptas officiis error et. In alias aliquid iure voluptatem dolores
    sunt dolore rem. Eos deserunt vero exercitationem sit incidunt. Alias ex rerum est aut tenetur.
  </p>
  <p>
    Dicta autem nemo iste. Praesentium et expedita velit. Est maiores quisquam nihil fuga quod
    molestiae ex. Est ratione tempora sint officia harum error illo. Deserunt tenetur quisquam ipsa
    in iste vero.
  </p>
  <a routerLink="web-development" class="link">Read more</a>
</section>
