<section>
  <input type="text" class="search shadow focus:shadow-lg" />

  <div class="flex flex-row flex-wrap gap-2 text-xs">
    <button class="rounded-full py-2 px-3 bg-neutral-100 shadow hover:shadow-lg transition-shadow">
      Angular
    </button>
    <button class="rounded-full py-2 px-3 bg-neutral-100 shadow hover:shadow-lg transition-shadow">
      CSS
    </button>
    <button class="rounded-full py-2 px-3 bg-neutral-100 shadow hover:shadow-lg transition-shadow">
      Typescript
    </button>
    <button class="rounded-full py-2 px-3 bg-neutral-100 shadow hover:shadow-lg transition-shadow">
      UX
    </button>
    <button class="rounded-full py-2 px-3 bg-neutral-100 shadow hover:shadow-lg transition-shadow">
      Design
    </button>
    <button class="rounded-full py-2 px-3 bg-neutral-100 shadow hover:shadow-lg transition-shadow">
      Update
    </button>
    <button class="rounded-full py-2 px-3 bg-neutral-100 shadow hover:shadow-lg transition-shadow">
      News
    </button>
  </div>
</section>

<app-post-link></app-post-link>
<app-post-link></app-post-link>
<app-post-link></app-post-link>
