@font-face {
  font-family: 'Mulinito';
  src: url("../assets/fonts/Mulinito-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mulinito';
  src: url("../assets/fonts/Mulinito-Light.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
