@import (reference) "variables";

.link-hover() {
  color: @linkHoverColor;
  box-shadow: @linkHoverBoxShadow;
}

.link-external-hover() {
  &:after {
    border-top-color: @linkHoverColor;
    border-right-color: @linkHoverColor;
  }
}

.link-external() {

  &:hover,
  &:active,
  &:focus {
    .link-external-hover();
  }

  &:after {
    content: "";
    display: inline-block;

    width: 4px;
    height: 4px;
    margin-top: 0.25em;

    vertical-align: text-top;

    border-top: solid @linkColor 1px;
    border-right: solid @linkColor 1px;

    transition: border-top-color @transitionDur, border-right-color @transitionDur;
  }
}

a,
.link {
  display: inline;

  padding-bottom: @linkBorderSpacing;

  text-decoration: transparent;
  line-height: 1;
  box-shadow: @linkBoxShadow;
  color: @linkColor;

  transition: @linkTransition;

  &.plain {
    border-bottom: 0;
  }

  &[target="_blank"]:not(.link-container) {
    .link-external();
  }

  &:hover,
  &:active,
  &:focus {
    .link-hover();
  }
}

.link-container {
  box-shadow: unset !important;

  &[target="_blank"] {
    a,
    .link {
      .link-external();
    }

    &:hover,
    &:active,
    &:focus {
      a,
      .link {
        .link-external-hover();
      }
    }
  }

  &:hover,
  &:active,
  &:focus {
    a,
    .link {
      .link-hover();
    }
  }

  &:focus {
    .a-link-focus();

    a,
    .link {
      .a-link-hover();
    }
  }
}