@g:               1rem;
@g2:              (@g*2);
@g3:              (@g*3);
@g4:              (@g*4);

@textColor:       #222222;
@subtleTextColor: #888888;

@linkColor:       #000000;
@linkHoverColor:  @secondaryColor;
@linkBorderSpacing: 3px;

@primaryColor:    #FF8652;
@secondaryColor:  #FF2C88;

@bgColorLight:    #fefefe;
@bgColor:         #dedede;

@borderWidth:     2px;

@fontSizeSm:      0.9rem;
@fontSizeMd:      1.15rem;
@fontSizeLg:      1.35rem;

@maxContainerWidth: 1200px;