@import '../../../node_modules/tailwindcss/base.css';
@import '../../../node_modules/tailwindcss/components.css';
@import '../../../node_modules/tailwindcss/utilities.css';

@import './variables.pcss';
@import './base.pcss';
@import './fonts.pcss';
@import './icons.pcss';
@import './forms.pcss';
