:host {
  display: flex;
  flex-direction: column;
  justify-content: stretch;

  min-height: 100%;
  flex-grow: 1;
}

.main-wrapper {
  display: flex;
  flex-direction: column;

  flex-grow: 1;
  overflow: clip;
}

.swipe-container {
  position: relative;
  display: flex;
  flex-direction: column;

  height: 100%;
  flex-grow: 1;
}

.content-wrapper {
  display: flex;
  flex-direction: column;

  flex-grow: 1;
}
