.qr-activator {
  @apply w-[6rem] relative dark:w-[7rem] dark:p-1;
}

.qr-activator.active {
  @apply dark:bg-white;
}

.overlay {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  @apply w-[2rem] absolute z-10 transition-all invert dark:invert-0;
}

.qr {
  @apply blur-[0.25rem] transition-all dark:invert;
}

.active .overlay {
  opacity: 0;
}

.active .qr {
  @apply blur-0 dark:invert-0 dark:drop-shadow-none drop-shadow-lg drop-shadow-[0_6px_8px_rgba(0,0,0,0.3)];
}

.subtle .overlay {
  @apply saturate-0;
}
