@use 'mixins';

.github-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacer-2);
  margin-inline: calc(var(--spacer-2) * -1);
  padding: var(--spacer-1) var(--spacer-2);

  @include mixins.focus;
}

.github-logo-container {
  width: 2.5rem;
  aspect-ratio: 1 / 1;

  @include mixins.tablet {
    width: 3rem;
  }
}

.github-logo-light {
  display: block;

  @include mixins.dark {
    display: none;
  }
}

.github-logo-dark {
  display: none;

  @include mixins.dark {
    display: block;
  }
}

.github-label-container {
  display: flex;
  align-items: center;
  gap: var(--spacer-1);
}

.external-icon {
  display: inline-block;
  height: 0.8em;
  rotate: -45deg;

  @include mixins.dark {
    filter: invert(1);
  }
}

.projects-previous h2 {
  margin-block-end: 1.75rem;
}
