<section>
  <h1>Web Development</h1>
  <small class="block -mt-1">25/6/24</small>

  <p class="mt-4">
    Ducimus nesciunt quo qui voluptas officiis error et. In alias aliquid iure voluptatem dolores
    sunt dolore rem. Eos deserunt vero exercitationem sit incidunt. Alias ex rerum est aut tenetur.
  </p>
  <p>
    Dicta autem nemo iste. Praesentium et expedita velit. Est maiores quisquam nihil fuga quod
    molestiae ex. Est ratione tempora sint officia harum error illo. Deserunt tenetur quisquam ipsa
    in iste vero...
  </p>
  <div class="text-center">
    <a
      routerLink="web-dev"
      class="inline-flex items-center px-4 text-primary font-bold rounded px-3 py-2 outline-none text-center mt-2 shadow bg-neutral-100 hover:shadow-lg focus:shadow-lg transition-all hover:bg-neutral-200 focus:bg-neutral-200"
    >
      Read post
    </a>
  </div>
</section>
