<div class="timeline-container">
  <div class="timeline-years">
    <!-- YEARS -->
    @for (year of _years(); track $index; let first = $first) {
      <div class="timeline-year">
        @if (!first && mode() === 'default') {
          <div class="timeline-separator"></div>
        }

        @if (mode() === 'default') {
          <span class="timeline-year-label">{{ year.label }}</span>
          <!-- LABEL OVERLAY -->
          @for (range of year.ranges; track $index) {
            <div
              class="timeline-year-overlay-label label-overlay"
              [style.--start]="range.start"
              [style.--end]="range.end"
            >
              {{ year.label }}
            </div>
          }
        }
      </div>
    }
  </div>

  <!-- RANGES -->
  <div class="timeline-ranges-container">
    @for (range of _ranges(); track $index) {
      <div class="timeline-range" [style.--left]="range.left" [style.--width]="range.width">
        <div class="timeline-range-label-top">
          <div class="timeline-range-label-content">
            <span class="timeline-range-dot is-start">•</span>
            <span class="timeline-range-date">{{ range.range.from | date: "MMMM '''yy" }}</span>
          </div>
        </div>
        <div class="timeline-range-label-bottom">
          <div class="timeline-range-label-content is-end">
            <span class="timeline-range-date">{{
              range.range.toLabel ?? (range.range.to | date: "MMMM '''yy")
            }}</span>
            <span class="timeline-range-dot is-end">•</span>
          </div>
        </div>
      </div>
    }
  </div>
</div>
