<div class="wrapper mt-6">
  <nav class="scrollbar-none">
    <a
      routerLink="/"
      routerLinkActive
      class="nav-link nav-link--logo h-[3rem] aspect-square"
      [ngClass]="activeClass(0)"
      [routerLinkActiveOptions]="{ exact: true }"
      (isActiveChange)="activeChange(0, $event)"
    ></a>
    <a
      routerLink="/development"
      routerLinkActive
      class="nav-link"
      [ngClass]="activeClass(1)"
      (isActiveChange)="activeChange(1, $event)"
      >dev</a
    >
    <!--
    <a
      routerLink="/posts"
      routerLinkActive
      class="nav-link"
      [ngClass]="activeClass(2)"
      (isActiveChange)="activeChange(2, $event)"
      >posts</a
    >
    -->
    <a
      routerLink="/cv"
      routerLinkActive
      class="nav-link"
      [ngClass]="activeClass(3)"
      (isActiveChange)="activeChange(3, $event)"
      >cv</a
    >
  </nav>
</div>
<div class="h-6"></div>
