<div
  class="wrapper flex flex-row items-center justify-center h-[70vh]"
  [class.allow-anim]="_allowAnim"
>
  <nav class="scrollbar-none">
    <a
      routerLink="/"
      routerLinkActive
      [class.hint]="_hintLinkIndex === 0 && _hintActive"
      [class.hint-direction-right]="_hintDirection === 'right'"
      [ngClass]="activeClass(0)"
      [routerLinkActiveOptions]="{ exact: true }"
      (isActiveChange)="activeChange(0, $event)"
      >laurenz</a
    >
    ·
    <a
      routerLink="/development"
      routerLinkActive
      [class.hint]="_hintLinkIndex === 1 && _hintActive"
      [class.hint-direction-right]="_hintDirection === 'right'"
      [ngClass]="activeClass(1)"
      (isActiveChange)="activeChange(1, $event)"
      >dev</a
    >
    <!--·
    <a
      routerLink="/posts"
      routerLinkActive
      [ngClass]="activeClass(2)"
      (isActiveChange)="activeChange(2, $event)"
      >posts</a
    >
    ·
    <a
      routerLink="/cv"
      routerLinkActive
      [ngClass]="activeClass(3)"
      (isActiveChange)="activeChange(3, $event)"
      >cv</a
    >-->
  </nav>
</div>
