:host {
  display: contents;

  @apply text-3xl;
}

.wrapper {
  position: relative;
  padding-block-start: 150px;

  background:
    url('/assets/imgs/bg/nav-background.webp') no-repeat left top,
    radial-gradient(120% 120% at 90% -40%, rgba(189, 116, 247, 0.4), theme('colors.bg.DEFAULT'))
      no-repeat;
  background-size:
    500px auto,
    auto 50vh;

  @apply flex flex-row items-center justify-center h-[50vh];
}

@media screen and (min-width: 450px) {
  .wrapper {
    padding-block-start: 75px;
  }
}

@media screen and (min-width: 1000px) {
  .wrapper {
    padding-block-start: 100px;
  }
}

@media screen(lg) {
  .wrapper {
    background:
      url('/assets/imgs/bg/nav-background-lg.webp') no-repeat right -100px,
      radial-gradient(120% 120% at 10% -40%, rgba(189, 116, 247, 0.4), theme('colors.bg.DEFAULT'))
        no-repeat;
    background-size:
      auto 600px,
      auto 50vh;
  }
}

nav {
  display: inline-flex;
  align-items: center;
  font-family: 'Recursive', sans-serif;

  overflow-x: auto;

  @apply px-6 mx-auto h-full;
}

a {
  position: relative;
  color: transparent;
  font-weight: 700;

  background: linear-gradient(
    to right,
    theme('textColor.DEFAULT') 20%,
    theme('colors.secondary.DEFAULT') 40%,
    theme('colors.primary.DEFAULT') 60%,
    theme('textColor.DEFAULT') 80%
  );
  background-size: 500% 100%;
  background-clip: text;
  background-position-x: 0;

  animation-duration: theme('transitions.medium');
  animation-timing-function: ease-in-out;

  transition:
    transform theme('transitions.short'),
    opacity theme('transitions.short');

  @apply px-3 py-8;
}

a::after {
  --bg: theme('colors.neutral.300');

  content: '';

  position: absolute;
  left: 50%;
  top: calc(50% + 0.75em);
  transform: translateX(-50%);
  width: theme('custom.divider.horizontalLength');
  height: 3px;
  border-radius: 99px;

  background: linear-gradient(
    to right,
    var(--bg) 20%,
    theme('colors.secondary.DEFAULT') 40%,
    theme('colors.primary.DEFAULT') 60%,
    var(--bg) 80%
  );
  background-size: 500% 100%;
  background-position-x: 0;

  animation-duration: theme('transitions.medium');
  animation-timing-function: ease-in-out;
}

@media (prefers-color-scheme: dark) {
  a::after {
    --bg: theme('colors.neutral.700');
  }
}

a:active {
  transform: scale(0.95);
}

a.hint:not(:active) {
  animation:
    -anim-link-hint 0.75s,
    -anim-link-intro-to-left 0.75s 0.15s forwards,
    -anim-link-outro-to-right 0.75s 1.15s forwards;
  /* multiple animations not working; see https://github.com/angular/angular/issues/53038 */
}

a.hint.hint-direction-right:not(:active) {
  animation:
    -anim-link-hint 0.75s,
    -anim-link-intro-to-right 0.75s 0.15s forwards,
    -anim-link-outro-to-left 0.75s 1.15s forwards;
}

a.hint:not(:active)::after {
  animation:
    -anim-link-intro-to-left 0.75s 0.15s forwards,
    -anim-link-outro-to-right 0.75s 1.15s forwards;
}

a.hint.hint-direction-right:not(:active)::after {
  animation:
    -anim-link-intro-to-right 0.75s 0.15s forwards,
    -anim-link-outro-to-left 0.75s 1.15s forwards;
}

a.active,
a.active::after {
  background-position-x: 50%;
}

a.intro-left,
a.intro-left::after {
  animation-name: -anim-link-intro-to-left;
}

a.intro-right,
a.intro-right::after {
  animation-name: -anim-link-intro-to-right;
}

a.outro-left,
a.outro-left::after {
  animation-name: -anim-link-outro-to-left;
}

a.outro-right,
a.outro-right::after {
  animation-name: -anim-link-outro-to-right;
}

@keyframes -anim-link-intro-to-left {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 50%;
  }
}

@keyframes -anim-link-outro-to-left {
  0% {
    background-position-x: 50%;
  }
  100% {
    background-position-x: 100%;
  }
}

@keyframes -anim-link-intro-to-right {
  0% {
    background-position-x: 100%;
  }
  100% {
    background-position-x: 50%;
  }
}

@keyframes -anim-link-outro-to-right {
  0% {
    background-position-x: 50%;
  }
  100% {
    background-position-x: 0;
  }
}

@keyframes -anim-link-hint {
  0%,
  100% {
    transform: scale(1);
    opacity: 1;
  }
  10% {
    transform: scale(0.8);
    opacity: 0.4;
  }
}
