@use 'mixins';

@mixin btn-links {
  .btn-link-bg,
  .btn-link-bg--secondary,
  .btn-link,
  .btn-link--with-logo {
    --bg-color: var(--bg);
    --active-color-1: #f1f2f3;
    --active-color-2: #e6e8ea;

    background: linear-gradient(
      to right,
      var(--bg-color) 33.3%,
      var(--active-color-1) 66.6%,
      var(--active-color-2) 100%
    );
    background-size: 300% 100%;
    background-position-x: 0;

    transition:
      background-position var(--transition-duration-long),
      transform var(--transition-duration),
      box-shadow var(--transition-duration-long);

    user-select: none;
    text-decoration: none;

    @include mixins.rounded-sm;
    @include mixins.focus;

    @include mixins.dark {
      box-shadow:
        0 7px 15px -3px black,
        0 4px 6px -4px black;
    }

    &:hover,
    &:focus {
      background-position: 100%;
      box-shadow: var(--box-shadow);

      @include mixins.dark {
        box-shadow:
          0 13px 30px -3px black,
          0 5px 8px -5px black;
      }
    }

    &:active {
      transform: scale(0.95);
    }
  }

  .btn-link-bg--inline {
    box-shadow: none;
  }

  .btn-link-bg-hover {
    --bg-color: transparent;
    box-shadow: none;
  }

  .btn-link,
  .btn-link--with-logo {
    padding: var(--spacer-4);
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-decoration: none;
  }

  @include mixins.dark {
    .btn-link-bg,
    .btn-link,
    .btn-link--with-logo {
      --bg-color: var(--bg);
      --active-color-1: var(--color-primary-800);
      --active-color-2: var(--color-primary-700);
    }

    .btn-link-bg-hover {
      --bg-color: transparent;
    }
  }

  .btn-link--with-logo > .logo {
    height: 1.5rem;
    margin-inline-end: var(--spacer-3);
  }

  .btn-link--with-logo > .logo > img {
    height: 100%;
  }
}
