@use 'mixins';

@mixin dividers {
  $length: 40px;
  $thickness: 3px;

  .divider,
  .divider-h {
    display: block;
    width: $length;
    height: $thickness;
    margin-block: var(--spacer-2) var(--spacer-4);

    border-radius: 99px;
    background-color: var(--color-primary-200);

    @include mixins.dark {
      background-color: var(--color-primary-400);
    }
  }

  .divider-h {
    display: inline-block;
    height: $length;
    width: $thickness;
  }
}
