:host {
  --height: 3rem;

  display: block;

  &.timeline--thin {
    --height: 12px;
  }
}

.timeline-range {
  background: linear-gradient(
    to right,
    theme('colors.primary.DEFAULT'),
    theme('colors.primary.600')
  );
}

.label-overlay {
  mask-image: linear-gradient(
    to right,
    transparent var(--start),
    white var(--start) var(--end),
    transparent var(--end)
  );
}
