<section>
  <a href="https://github.com/laurenzfiala" class="btn-link--with-logo">
    <div class="logo">
      <img src="/assets/imgs/3rdparty/github/github-mark.svg" class="dark:hidden" />
      <img src="/assets/imgs/3rdparty/github/github-mark-white.svg" class="hidden dark:block" />
    </div>
    GitHub
  </a>
</section>

<!--<section>
  <app-heading text="Applications"></app-heading>

  <p class="text-center text-muted text-sm">Nothing here yet</p>

  <div class="flex flex-row flex-wrap gap-4 justify-center">
    <app-application-link
      heading="ngx-visual-cd"
      subheading="Visual learning tool for Angular change detection"
      tags="preview"
    ></app-application-link>
  </div>
</section>-->

<section>
  <app-heading text="Current Projects"></app-heading>

  <app-project-link
    link="laurenz-dev"
    heading="laurenz.dev"
    subheading="My personal website and blog"
    thumbnailSrc="/assets/imgs/projects/laurenz_dev.webp"
    class="mb-8"
  />
</section>

<section class="projects-previous">
  <app-heading text="Previous Projects"></app-heading>

  <h2>2023</h2>

  <app-project-link
    link="ngx-visual-cd"
    heading="ngx-visual-cd"
    subheading="Visual learning tool for Angular change detection"
    thumbnailSrc="/assets/imgs/projects/ngx-visual-cd.svg"
    class="mb-[3rem]"
  />

  <app-project-link
    link="cool-trees-and-sensors"
    heading="Cool Trees & Sensors"
    subheading="Freelance software project"
    thumbnailSrc="/assets/imgs/projects/cool_trees_and_sensors.svg"
    disabled
  ></app-project-link>

  <div class="divider-h"></div>

  <h2>2022</h2>

  <app-project-link
    link="tuw-mental-health-checker"
    heading="MentalHealthChecker"
    subheading="University project"
    thumbnailSrc="/assets/imgs/projects/tuw_mental_health_checker.svg"
    disabled
  />

  <div class="divider-h"></div>

  <h2>2021</h2>

  <app-project-link
    link="tuw-viral-load"
    heading="Viral Load"
    subheading="University project"
    disabled
  />

  <div class="divider-h"></div>

  <h2>2020</h2>

  <app-project-link
    link="tuw-matterialist"
    heading="Matterialist"
    subheading="University project"
    thumbnailSrc="/assets/imgs/projects/tuw_matterialist.jpg"
    class="mb-[3rem]"
  />

  <app-project-link
    link="tobiaskropp-at"
    heading="tobiaskropp.at"
    subheading="Freelance website project"
    thumbnailSrc="/assets/imgs/projects/tobiaskropp-at.svg"
    disabled
  />

  <div class="divider-h"></div>

  <h2>2019</h2>

  <app-project-link
    link="urban-trees"
    heading="Urban Trees as Climate Messengers"
    subheading="Freelance software project"
    thumbnailSrc="/assets/imgs/projects/urban_trees.jpg"
    disabled
  />

  <div class="divider-h"></div>

  <h2>2018</h2>

  <div class="text-muted text-sm">No projects</div>

  <div class="divider-h"></div>

  <h2>2017</h2>

  <app-project-link link="onetime" heading="OneTime" subheading="Android app project" disabled />
</section>

<app-overlay #overlay="overlay" [outlet]="outlet">
  <router-outlet #outlet="outlet" />
</app-overlay>
