@use 'mixins';

.wrapper {
  display: flex;
  gap: 2px;
}

.icon {
  width: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: var(--font-family-brand);
  line-height: 0;
  font-weight: bold;
  background: var(--color-accent-500);
  color: var(--color-text-contrast);

  @include mixins.rounded-sm(left);
}

.content {
  flex: 1 0 0;
  padding: var(--spacer-1) var(--spacer-2);

  font-size: var(--text-sm);
  text-align: justify;
  background: var(--color-accent-200);

  @include mixins.rounded-sm(right);

  @include mixins.dark {
    background: var(--color-accent-800);
  }
}

.heading {
  display: block;
}
