@use 'mixins';

.wrapper {
  display: flex;
  gap: 2px;
}

.icon {
  width: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: var(--font-family-brand);
  background: var(--color-accent-500);
  color: var(--color-text-contrast);
  font-weight: bold;

  @include mixins.rounded-sm(left);
}

.content {
  flex: 1 0 0;
  padding: var(--spacer-1) var(--spacer-2);

  font-size: var(--text-sm);
  text-align: justify;
  background: color-mix(in srgb, var(--color-accent-500), transparent 80%);

  @include mixins.rounded-sm(right);
}

.heading {
  display: block;
}
