<div class="flex flex-col px-1" [class.opacity-50]="muted()">
  @if (link(); as link) {
    <a
      [routerLink]="link"
      [info]="_overlayHints()"
      class="btn-link-bg btn-link-bg-hover -mx-4 px-4 py-3 transition-all"
    >
      <ng-container [ngTemplateOutlet]="workInfo" />
    </a>
  } @else {
    <div class="py-3">
      <ng-container [ngTemplateOutlet]="workInfo" />
    </div>
  }

  <app-timeline
    style="--timeline-bg: rgba(0, 0, 0, 0.5)"
    class="mt-2"
    mode="thin"
    [ranges]="ranges()"
  />
</div>

<div class="text-muted text-sm mt-4">
  <ng-content></ng-content>
</div>

<ng-template #workInfo>
  <div class="text-start overflow-hidden">
    <strong class="ellipsis" [class.link]="link()">{{ workRole() }}</strong>
    <div class="text-muted text-sm ellipsis">{{ at() }}</div>
  </div>
</ng-template>
