<section>
  <app-heading text="GitHub" />

  <a
    href="https://github.com/laurenzfiala"
    class="btn-link-bg btn-link-bg-hover link-container flex items-center gap-6 px-4 py-3 -mx-4"
  >
    <div class="w-[2.5rem] md:w-[3rem] aspect-square">
      <img alt="GitHub Logo" src="/imgs/3rdparty/github/github-mark.svg" class="dark:hidden" />
      <img
        alt="GitHub Logo"
        src="/imgs/3rdparty/github/github-mark-white.svg"
        class="hidden dark:block"
      />
    </div>
    <div class="flex items-center gap-2">
      <span class="link">GitHub</span>
      <img
        alt="Arrow pointing to the top right"
        src="/imgs/icons/arrow-right-sm.svg"
        class="dark:invert inline-block h-[0.8em] -rotate-45"
      />
    </div>
  </a>
</section>

<section>
  <app-heading text="Projects" />

  <app-project-link
    link="laurenz-dev"
    heading="laurenz.dev"
    subheading="My personal website and blog"
    thumbnailSrc="/imgs/projects/laurenz_dev.webp"
    current
  />

  <div class="mb-12"></div>

  <app-project-link
    link="ngx-visual-cd"
    heading="ngx-visual-cd"
    subheading="Visual learning tool for Angular change detection"
    thumbnailSrc="/imgs/projects/ngx-visual-cd.svg"
  />

  <app-project-link
    link="cool-trees-and-sensors"
    heading="Cool Trees & Sensors"
    subheading="Freelance software project"
    thumbnailSrc="/imgs/projects/cool_trees_and_sensors.svg"
  ></app-project-link>

  <app-project-link
    link="tuw-mental-health-checker"
    heading="MentalHealthChecker"
    subheading="University project"
    thumbnailSrc="/imgs/projects/tuw_mental_health_checker.svg"
  />

  <app-project-link link="tuw-viral-load" heading="Viral Load" subheading="University project" />

  <app-project-link
    link="tuw-matterialist"
    heading="Matterialist"
    subheading="University project"
    thumbnailSrc="/imgs/projects/tuw_matterialist.jpg"
  />

  <app-project-link
    link="tobiaskropp-at"
    heading="tobiaskropp.at"
    subheading="Freelance website project"
    thumbnailSrc="/imgs/projects/tobiaskropp-at.svg"
  />

  <app-project-link
    heading="Urban Trees as Climate Messengers"
    subheading="Freelance software project"
    thumbnailSrc="/imgs/projects/urban_trees.jpg"
  />

  <app-project-link heading="OneTime" subheading="Android app project" />
</section>

<app-overlay [outlet]="outlet">
  <router-outlet #outlet="outlet" />
</app-overlay>
