<!-- INTRO -->
<section>
  <app-heading text="Hi 👋" />

  <p class="mb-p">
    I'm Laurenz Fiala, a software and usability engineer. This space is intended as a place to show
    my projects, education and work experience. In the future I want to share some of my insights
    and hobbies here too.
  </p>
</section>

<!-- PICTURE -->
<section class="text-center">
  <div class="inline-block picture-wrapper">
    <img
      src="/imgs/about/portrait.jpg"
      class="inline-block w-[17rem] max-w-[80svw] aspect-square rounded-full"
    />
  </div>
</section>

<!-- CONTACT -->
<section>
  <app-heading text="Contact" />

  <p class="mb-p">
    Feel free to send me a message via e-mail or telegram! I am glad to talk about anything UX or
    tech related. 😄 If you're looking to hire, I am also happy to hear from you.
  </p>

  <app-info-box>
    I will delete your messages after 30 days. I might keep anonymized copies for longer. My e-mail
    provider deletes any metadata logs after 14 days.
  </app-info-box>

  <!-- LINKS -->
  <div class="flex flex-col flex-wrap items-start gap-4 my-12">
    <a class="link flex flex-row items-center gap-4" href="#" (click)="sendMail()">
      <div class="logo logo--email"></div>
      E-mail
    </a>

    <a href="https://t.me/laurenzfiala" class="link flex flex-row items-center gap-4">
      <div class="logo logo--telegram"></div>
      Telegram
    </a>

    @if (!_showQrCodes) {
      <button class="link-container flex flex-row items-center gap-4" (click)="_showQrCodes = true">
        <div class="logo logo--qr"></div>
        <span class="link">Scan QR codes instead</span>
      </button>
    }

    <!-- QR Codes -->
    @if (_showQrCodes) {
      <div
        class="flex flex-row justify-center self-stretch flex-wrap items-center gap-6 mt-4"
        [class.qr-active]="_activeQr"
      >
        <div>
          <!-- EMAIL -->
          <app-qr-code
            [active]="_activeQr === 'email'"
            [subtle]="!!_activeQr"
            overlayUrl="/imgs/about/email_logo.svg"
            qrUrl="/imgs/about/qr_email.svg"
            (action)="_activeQr = 'email'"
          ></app-qr-code>
        </div>

        <!-- TELEGRAM -->
        <app-qr-code
          [active]="_activeQr === 'telegram'"
          [subtle]="!!_activeQr"
          overlayUrl="/imgs/about/telegram_logo.svg"
          qrUrl="/imgs/about/qr_telegram.svg"
          (action)="_activeQr = 'telegram'"
        ></app-qr-code>
      </div>
    }
  </div>
</section>
